plugins = []
headers = []

[functions]

[functions."*"]

[build]
publish = "/Users/test/startups/milkbook/dist"
publishOrigin = "config"
commandOrigin = "ui"

[build.environment]
NODE_VERSION = "22"

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]