redirectsOrigin = "config"
plugins = []
headers = []

[template]

[template.environment]
NODE_VERSION = "18"

[functions]

[functions."*"]

[build]
publish = "/Users/test/startups/milkbook"
publishOrigin = "config"
commandOrigin = "config"
command = "echo 'No build command needed for static files'"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]